* {
    margin: 0;
    border: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    /*background-color: #bce3c5;*/
}

a {
	text-decoration: none;
	font-size: 15px;
}

header {
	display: block;
	/*background-color: #78827a;*/
	height: 80px;
	padding-left: 0;
	border-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
}

.title {
	padding-left: 45px;
	display: inline-block;
}
/*
.espaçamento {
	display: inline-block;
	width: 500px;
}
*/
.box-login {
	padding: 12px;
	border-style: solid;
	border-width: 2px;
	border-radius: 6px;
	border-color: black;
	margin-top: 15px;
	margin-left: 39%;
	width: 170px;
	display: inline-block;
	text-align: center;
	height: 16px;
}

.box-cadastro:hover {
	color: #2fc24f;
	border-color: #2fc24f;
}

.link {
	color: black;
}

.link:hover {
	color: #2fc24f;
}

.box-submit {
	text-align: center;
	margin-left: 4%;
	margin-top: 30px;
	width: 360px;
	height: 200px;
/*	background-color: pink; */
}

.login {
	font-size: 18px;
}

#email {
	height: 40px;
	width: 300px;
	border-style: solid;
	border-width: 0.5px;
	border-radius: 4px;
	border-color: black;
}

#senha {
	height: 40px;
	width: 300px;
	border-style: solid;
	border-width: 0.5px;
	border-radius: 4px;
	border-color: black;
}

#en {
	height: 40px;
	width: 100%;
	background-color: #1dc241;
	border-style: solid;
	border-radius: 4px;
	border-color: #1dc241;
}

#en:hover {
	background-color: #66ff66;
}

.footer {
	height: 40px;
	border-top-style: solid;
	border-top-width: 0.5px;
	margin-top: 260px;
}

#img {
	height: 80px;
	width: 80px;
	padding-left: 1280px;
}
